[Desktop Entry]
Type=Application
Name=Auto
Icon=/home/pi/icons/auto.png
Exec=/home/pi/projekte/evse_tcp/EVSE_CLIENT
Encoding=UTF-8
Terminal=false
Categories=None;

